#form{ class: 'hero-unit' }
  #label Do you like it? 

  = form_for(@setting) do |f|
    %input{name: 'id'  	   , type: 'hidden', value: id}
    %input{name: 'status'  , type: 'hidden', value: 'accepted'}
    = f.submit('Yes', class: 'btn btn-success')

  = form_for(@setting) do |f|
    %input{name: 'id'  	   , type: 'hidden', value: id}
    %input{name: 'status'  , type:'hidden' , value:'rejected'}
    = f.submit('No', class: 'btn btn-danger')